config.log
port.h

port/install.sh

**/Makefile

*.o
*.obj
*.exe
*.a

libtiff/mkg3states
libtiff/tif_fax3sm.c
libtiff/version.h

# From `man/Makefile.in' `MANLINKS' var.
man/TIFFComputeTile.3t
man/TIFFCheckTile.3t
man/TIFFNumberOfTiles.3t
man/TIFFComputeStrip.3t
man/TIFFNumberOfStrips.3t
man/TIFFCurrentDirectory.3t
man/TIFFCurrentRow.3t
man/TIFFCurrentStrip.3t
man/TIFFCurrentTile.3t
man/TIFFFdOpen.3t
man/TIFFFileName.3t
man/TIFFFileno.3t
man/TIFFFlushData.3t
man/TIFFGetMode.3t
man/TIFFIsTiled.3t
man/TIFFReverseBits.3t
man/TIFFSetErrorHandler.3t
man/TIFFSetWarningHandler.3t
man/TIFFSwabArrayOfLong.3t
man/TIFFSwabArrayOfShort.3t
man/TIFFSwabLong.3t
man/TIFFSwabShort.3t
man/TIFFScanlineSize.3t
man/TIFFStripSize.3t
man/TIFFTileSize.3t
man/TIFFVGetField.3t
man/TIFFVSetField.3t

# From `tools/Makefile.in' `TARGETS' var.
tools/fax2tiff
tools/fax2ps
tools/gif2tiff
tools/pal2rgb
tools/ppm2tiff
tools/rgb2ycbcr
tools/thumbnail
tools/ras2tiff
tools/tiff2bw
tools/tiff2ps
tools/tiffcmp
tools/tiffcp
tools/tiffdither
tools/tiffdump
tools/tiffinfo
tools/tiffmedian
tools/tiffsplit
